bucket_name     = 
table_name      = 
vpc_name        = 
subnet_name     = 
ecr_name        = 
scan_on_push    = 
region          = 
cluster_name    = 
node_group_name = 
password        = 
django_secret_key = 
github_username   = 
github_token      = 
jenkins_admin_password = 
grafana_admin_password   = 
instance_class          = 
multi_az                = 
backup_retention_period = 
